@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Telelogos Reporting Server</h1>
    <p class="lead">Generate your reporting on demand with our application server !</p>
    <p><input type="button" value="Dashboard Report" onclick=""/></p>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
</div>